# IDE/Editor
/.vscode
/.idea
*.swp
*.swo

# Build files
/build/
/bin/
*.o
*.obj
*.exe
program
CrossyRoad.exe
CrossyRoad

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

#unused
SDL_Game/